[submodule "3-course/mss"]
	path = 3-course/mss
	url = https://github.com/Observersss/mss.git
[submodule "3-course/--force"]
	path = 3-course/--force
	url = https://github.com/Observersss/numeral-methods.git
