[submodule "3-course/numeraticMethods/3-course/numeraticMethods"]
	path = 3-course/numeraticMethods/3-course/numeraticMethods
	url = https://github.com/Observersss/mss_lab_1.git
[submodule "3-course/mss_lab_1"]
	path = 3-course/mss_lab_1
	url = https://github.com/Observersss/mss_lab_1.git
